<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="router.url !== '/home'" text="" icon="md-arrow-back"
                             defaultHref="home"></ion-back-button>
            <ion-button *ngIf="router.url === '/home'" (click)="showIntro()">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-title>{{displayName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="!(authService.user$ | async)" (click)="goToLogin()">
                <ion-icon name="log-in"></ion-icon>
            </ion-button>
            <ion-button *ngIf="(authService.user$ | async)" (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>