<ion-footer>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" *ngIf="router.url !== '/home'">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button *ngIf="!(authService.user$ | async)" (click)="goToLogin()">
                <ion-icon name="log-in"></ion-icon>
            </ion-button>
            <ion-button *ngIf="(authService.user$ | async)" (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>