<ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button>
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{positie}}e van de {{poule_name}}</ion-title>
</ion-toolbar>
<ion-toolbar color="dark">
    <ion-grid>
        <ion-row>
            <ion-col [size]="2" align-self-center>
                <ion-row justify-content-center>
                    <ion-icon class="large-icon" *ngIf="activePouleIndex > 0" name="arrow-back"
                              (click)="activatePoule(activePouleIndex - 1)"></ion-icon>
                </ion-row>
            </ion-col>
            <ion-col align-self-center>
                <ion-row justify-content-center>
                    <div class="eigen-avatar">#{{positie ? positie : 0}}</div>
                </ion-row>
            </ion-col>
            <ion-col [size]="2" align-self-center>
                <ion-row justify-content-center>
                    <ion-icon class="large-icon" *ngIf="activePouleIndex + 1 < numberOfPoules"
                              (click)="activatePoule(activePouleIndex + 1)"
                              name="arrow-forward"></ion-icon>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>
<ion-content class="grid-full">
    <ion-router-outlet></ion-router-outlet>
    <!--<app-poule [activePoule]="activePoule"></app-poule>-->
</ion-content>
