<ion-header>
    <app-footer></app-footer>
    <ion-toolbar color="dark">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col [size]="2" class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-icon class="large-icon"
                                  *ngIf="activePouleIndex > 0 && router.url.startsWith('/poules/poule')"
                                  name="arrow-back-outline"
                                  (click)="activatePoule(activePouleIndex - 1)"></ion-icon>
                    </ion-row>
                </ion-col>
                <ion-col class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                        <div class="eigen-avatar" (click)="goToOverview()">#{{positie ? positie : 0}}</div>
                    </ion-row>
                </ion-col>
                <ion-col [size]="2" class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-icon class="large-icon"
                                  *ngIf="activePouleIndex + 1 < numberOfPoules && router.url.startsWith('/poules/poule')"
                                  (click)="activatePoule(activePouleIndex + 1)"
                                  name="arrow-forward-outline"></ion-icon>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
    <ion-toolbar *ngIf="uitnodigingen.length > 0 && router.url === '/poules/overview'" color="dark">
        <ion-button expand="full" color="primary" (click)="goToAcceptInvite()">Je hebt {{uitnodigingen.length}}
            uitnodiging<span *ngIf="uitnodigingen.length > 1">en</span></ion-button>
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <ion-router-outlet></ion-router-outlet>
</ion-content>
