<ion-header>
    <ion-toolbar color="dark"></ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <ion-card color="secondary">
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        Wie is de Molloot?
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    <div class="logo">
                        <ion-img class="ion-text-center" src="/assets/logo.png"
                                 style="height: 48px; width: 48px;"></ion-img>
                    </div>
                    <div>
                        ‘Wie is de Molloot?’ is een spel voor de echte molloten. Niet alleen voorspel je wie de Mol is,
                        ook maak je elke aflevering De Test over jouw Mol. Wie weet de Mol te ontmaskeren en de meeste
                        vragen goed te beantwoorden? Die mag zich De Molloot 2020 noemen!
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="secondary">
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        Voorspel de mol, winnaar en afvaller
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon [color]="'tertiary'" name="finger-print"
                              style="font-size: 48px;"></ion-icon>
                    <div>
                        Voor iedere aflevering voorspel je wie er die week gaat afvallen. Voor elke juist voorspelde
                        afvaller krijg je 20 punten. Daarnaast voorspel je de winnaar en natuurlijk de Mol. Valt jouw
                        Mol af, dan betekent dat 10 strafpunten. Valt jouw winnaar af, dan krijg je 5 strafpunten. Aan
                        het
                        einde van het seizoen verdien je 20 punten per keer dat je de Mol goed hebt voorspeld en 10
                        punten voor elke keer dat je winnaar goed hebt voorspeld.
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="secondary">
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        De Test
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon [color]="'tertiary'" name="clock"
                              style="font-size: 48px;"></ion-icon>
                    <div>
                        Na elke aflevering krijg je 5 vragen over de identiteit en het doen en laten van de Mol. Zo lang
                        jouw antwoord waar kan zijn (de
                        betreffende kandidaat of kandidaten zitten nog in het spel) krijg je 10 punten per vraag.
                        Maximaal 50 punten per aflevering dus. Zodra gedurende het seizoen jouw antwoord in een eerdere
                        test niet meer waar kan zijn (de betreffende kandidaten zijn allemaal afgevallen), verandert dit
                        in 0 punten. Naarmate het spel vordert zullen veel scores dus langzaamaan kelderen… Wie weet de
                        Mol
                        te ontmaskeren en behoudt
                        de meeste punten?
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="secondary">
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        Scores
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon [color]="'tertiary'" name="podium"
                              style="font-size: 48px;"></ion-icon>
                    <div>
                        Wil je weten hoe je in voorgaande afleveringen hebt gescoord? Of terugkijken wat je in eerdere
                        tests
                        hebt ingevuld? Dat kan natuurlijk! Onder 'Scores' kun je precies je eigen spelverloop terug
                        zien.
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="secondary">
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        Poules
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon [color]="'tertiary'" name="trophy"
                              style="font-size: 48px;"></ion-icon>
                    <div>
                        Ga de strijd aan met je familie en vrienden! Je kunt aan zo veel poules meedoen als je wilt.
                        Laat je
                        uitnodigen voor een poule of start zelf een poule en nodig je vrienden en familie uit! Wie is de
                        grootste molloot van allemaal?
                    </div>
                </ion-card-content>
                <ion-row class="ion-no-padding ion-justify-content-end">
                    <ion-col>
                        <ion-button expand="full" color="primary" (click)="goToHome()">Word de Molloot 2020
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-slide>

    </ion-slides>
</ion-content>
