@import '../../theme/variables';

:host {
  ion-card {
    height: calc(100vh - 108px - #{$safe-area-inset-top} - #{$safe-area-inset-bottom});
    margin-bottom: 32px;
  }
  .logo {
    display: grid;
    justify-content: center;
    padding-bottom: 16px;
  }
}
