<ion-row>
    <ion-col class="punten-detail">
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">Mol</ion-col>
            <ion-col class="ion-no-padding ion-text-right"> {{deelnemer.molpunten}}</ion-col>
        </ion-row>
    </ion-col>
    <ion-col class="punten-detail">
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">Afvaller</ion-col>
            <ion-col class="ion-no-padding ion-text-right"> {{deelnemer.afvallerpunten}}</ion-col>
        </ion-row>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col class="punten-detail">
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">Winnaar</ion-col>
            <ion-col class="ion-no-padding ion-text-right"> {{deelnemer.winnaarpunten}}</ion-col>
        </ion-row>
    </ion-col>
    <ion-col class="punten-detail">
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">Test</ion-col>
            <ion-col class="ion-no-padding ion-text-right"> {{deelnemer.testpunten}}</ion-col>
        </ion-row>
    </ion-col>
</ion-row>
