<ion-row>
    <ion-col class="punten-detail">
        <ion-row no-padding>
            <ion-col no-padding>Mol</ion-col>
            <ion-col no-padding text-right> {{deelnemer.molpunten}}</ion-col>
        </ion-row>
    </ion-col>
    <ion-col class="punten-detail">
        <ion-row no-padding>
            <ion-col no-padding>Afvaller</ion-col>
            <ion-col no-padding text-right> {{deelnemer.afvallerpunten}}</ion-col>
        </ion-row>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col class="punten-detail">
        <ion-row no-padding>
            <ion-col no-padding>Winnaar</ion-col>
            <ion-col no-padding text-right> {{deelnemer.winnaarpunten}}</ion-col>
        </ion-row>
    </ion-col>
    <ion-col class="punten-detail">
        <ion-row no-padding>
            <ion-col no-padding>Test</ion-col>
            <ion-col no-padding text-right> {{deelnemer.testpunten}}</ion-col>
        </ion-row>
    </ion-col>
</ion-row>