<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>
                {{poule?.poule_name}}
            </ion-card-title>
            <ion-card-subtitle>
                Nodig deelnemers uit
            </ion-card-subtitle>
            <hr class="primary_line">
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <div class="ion-margin-bottom">
                    Je kan deelnemers uitnodigen door een unieke code voor je poule te delen met hen. Klik op
                    onderstaande knop om deze code te delen via email of whatsapp
                </div>
            </ion-text>
            <div>
                <div class="button-container">
                    <ion-button (click)="shareInvite(false)" expand="full">
                        Nodig deelnemers uit.
                    </ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
