<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>
                Voeg deelnemers toe
            </ion-card-title>
            <hr style="background-color: #25B973">
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="addDeelnemer()" #form="ngForm">
                <ion-item lines="full" color="tertiary">
                    <ion-input required type="email" placeholder="email-adres" name="email" ngModel></ion-input>
                </ion-item>
                <div class="button-container">
                    <ion-button [disabled]="!form.valid" [color]="form.valid ? 'primary' :'medium'" expand="full" type="submit">
                        Voeg toe
                    </ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>