<ion-row>
    <ion-col class="cell-1 full">
        <ion-card color="dark">
            <ion-item color="dark" class="ion-item-header">
                <ion-header>
                    <ion-label>
                        <h3>Voeg deelnemers toe</h3>
                    </ion-label>
                </ion-header>
            </ion-item>
            <ion-card-content>
                <form (ngSubmit)="addDeelnemer()" #form="ngForm">
                    <ion-item>
                        <ion-input required type="email" placeholder="email-adres" name="email" ngModel></ion-input>
                    </ion-item>
                    <div class="button-container">
                        <ion-button [disabled]="!form.valid" color="tertiary" expand="full" type="submit">
                            Voeg toe
                        </ion-button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>