// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
$safe-area-inset-top: env(safe-area-inset-top);
$safe-area-inset-bottom: env(safe-area-inset-bottom);
$green: #25B973;
$tertiary: #E7E5DF;

/** Ionic CSS Variables **/
:root {
  /* Set the background of the entire app */
  --ion-background-color: #222428;
  //--ion-background-color: #E7E5DF;

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

/* Set text color of the entire app */

  --ion-color-primary: #25B973;
  --ion-color-primary-rgb: 37, 185, 115;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #21a365;
  --ion-color-primary-tint: #3bc081;

  --ion-color-secondary: #393E41;
  --ion-color-secondary-rgb: 57, 62, 65;
  --ion-color-secondary-contrast: #E7E5DF;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #323739;
  --ion-color-secondary-tint: #4d5154;

  //--ion-color-tertiary: #D3D0CB;
  //--ion-color-tertiary-rgb: 211, 208, 203;
  //--ion-color-tertiary-contrast: #000000;
  //--ion-color-tertiary-contrast-rgb: 0, 0, 0;
  //--ion-color-tertiary-shade: #bab7b3;
  //--ion-color-tertiary-tint: #d7d5d0;

  --ion-color-tertiary: #E7E5DF;
  --ion-color-tertiary-rgb: 231,229,223;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cbcac4;
  --ion-color-tertiary-tint: #e9e8e2;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #E7E5DF;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #E7E5DF;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #E7E5DF;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #E7E5DF;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #E7E5DF;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --inner-border-width: 0px;
  --border-color: transparent;

  --border-style: none;

}

ion-segment-button {
  --indicator-color: rgba(255,255,255,0.1);
  --indicator-color-checked: #25B973;
  --color-checked: #E7E5DF;
  --color: #E7E5DF;
}
