// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
$safe-area-inset-top: env(safe-area-inset-top);
$safe-area-inset-bottom: env(safe-area-inset-bottom);
$green: --ion-color-primary;
$tertiary: #E7E5DF;

/** Ionic CSS Variables **/
:root {
  /* Set the background of the entire app */
  --ion-background-color: var(--ion-color-secondary);

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

/* Set text color of the entire app */
  --ion-color-primary: #FCAB10;
  --ion-color-primary-rgb: 252, 171, 16;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #de960e;
  --ion-color-primary-tint: #fcb328;

  --ion-color-secondary: #1F2421;
  --ion-color-secondary-rgb: 31, 36, 33;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1b201d;
  --ion-color-secondary-tint: #353a37;

  --ion-color-tertiary: #DCE1DE;
  --ion-color-tertiary-rgb: 220, 225, 222;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c2c6c3;
  --ion-color-tertiary-tint: #e0e4e1;

  --ion-color-success: #0cab4a;
  --ion-color-success-rgb: 12, 171, 74;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0b9641;
  --ion-color-success-tint: #24b35c;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #d33939;
  --ion-color-danger-rgb: 211, 57, 57;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba3232;
  --ion-color-danger-tint: #d74d4d;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --inner-border-width: 0px;
  --border-color: transparent;

  --border-style: none;

}

ion-segment-button {
  --indicator-color: rgba(255,255,255,0.1);
  --indicator-color-checked: var(--ion-color-primary);
  --color-checked: var(--ion-color-light);
  --color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light);
}
