<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>
                Uitnodigingen
            </ion-card-title>
            <hr class="primary_line">
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="full" color="primary">
                <ion-text class="ion-text-wrap">Uitnodigingen</ion-text>
            </ion-item>
            <ion-item lines="full" color="tertiary" *ngFor="let uitnodiging of uitnodigingen">
                <ion-label class="ion-text-wrap">
                    <ion-text>
                        <h3>Je bent uitgenodigd door {{uitnodiging.poule.admins[0].display_name}} voor de
                            {{uitnodiging.poule.poule_name}} poule</h3>
                    </ion-text>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button expand="full" (click)="acceptInvite(uitnodiging)" color="primary">Doe mee
                            </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button expand="full" (click)="declineInvite(uitnodiging)" color="primary">Doe niet
                                mee
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
