<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>
                Uitnodigingen
            </ion-card-title>
            <hr style="background-color: #25B973">
        </ion-card-header>
        <ion-card-content>
            <ion-item color="primary">
                <ion-text text-wrap>Uitnodigingen</ion-text>
            </ion-item>
            <ion-item color="tertiary" *ngFor="let uitnodiging of uitnodigingen">
                <ion-label text-wrap>
                    <ion-text>
                        <h3>{{uitnodiging.poule.poule_name}}</h3>
                    </ion-text>
                    <ion-text>
                        <p class="subtitle">{{uitnodiging.poule.admins[0].display_name}}
                    </ion-text>
                </ion-label>
                <ion-button (click)="acceptInvite(uitnodiging)" color="primary">Doe mee</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
