<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>
                Start je eigen poule
            </ion-card-title>
            <hr style="background-color: #25B973">
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="createPoule()" #createPouleForm="ngForm">
                <ion-item lines="full" color="tertiary">
                    <ion-input required type="text" placeholder="Naam van de poule" name="name" ngModel></ion-input>
                </ion-item>
                <div class="button-container">
                    <ion-button [disabled]="!createPouleForm.valid" [color]="createPouleForm.valid ? 'primary' :'medium'" expand="full" type="submit">
                        Maak poule
                    </ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
