<ion-row>
    <ion-col class="cell-1 full">
        <ion-card color="dark" *ngIf="activePoule">
            <ion-card-header>
                <ion-card-title>
                    {{activePoule ? activePoule.poule_name : 'loading'}}
                        <ion-icon *ngIf="isPouleAdmin" class="icon-in-title" color="light" name="person-add" (click)="goToAddDeelnemer()"></ion-icon>
                </ion-card-title>
                <hr style="background-color: #25B973">
            </ion-card-header>
            <ng-container *ngIf="activePoule">
                <ion-card-content>
                    <ion-item [color]="deelnemer.id !== deelnemerId ? 'light' : 'tertiary'" *ngFor="let deelnemer of activePoule.deelnemers">
                        <ion-avatar slot="start">
                            <ngx-avatar size="40" bgColor="#000" borderColor="#25B973" fgColor="#25B973"
                                        [value]="deelnemer.positie"></ngx-avatar>
                        </ion-avatar>
                        <ion-label text-wrap>
                            <ion-text [color]="deelnemer.id !== deelnemerId ? 'tertiary' : 'dark'">
                                <h3>{{deelnemer.display_name}} ({{deelnemer.totaalpunten}})</h3>
                            </ion-text>
                            <ion-text>
                                <p class="subtitle">Test {{deelnemer.testpunten}} -
                                    Mol {{deelnemer.molpunten}} -
                                    Winnaar {{deelnemer.winnaarpunten}} -
                                    Afvaller {{deelnemer.afvallerpunten}}
                            </ion-text>
                        </ion-label>
                    </ion-item>
                    <ion-button class="sublink" expand="block" color="light" fill="clear" (click)="goToAddPoule()">Start nieuwe poule
                    </ion-button>
                </ion-card-content>
            </ng-container>
        </ion-card>

        <ion-card color="dark" *ngIf="!activePoule">
            <ion-card-header>
                <ion-card-title>
                    Begin je eigen poule!
                </ion-card-title>
                <hr style="background-color: #25B973">
            </ion-card-header>
            <ng-container>
                <ion-card-content>
                    <ion-button (click)="goToAddPoule()" color="tertiary" expand="block" fill="outline">
                        Start een poule
                    </ion-button>
                </ion-card-content>
            </ng-container>
        </ion-card>
    </ion-col>
</ion-row>