:host {

  .icon-in-title {
    float: right;
  }
  .sublink {
    text-align: center;
    font-size: 14px;
  }
  ion-card-content {
    display: grid;
    align-content: space-between;
    padding-bottom: 0;
    min-height: calc(100vh - 128px - 44px - 30px - 84px);
  }
}