<ion-content>
    <ion-card color="secondary" *ngIf="activePoule">
        <ion-card-header>
            <ion-card-title>
                {{activePoule ? activePoule.poule_name : 'loading'}}
                <ion-icon *ngIf="isPouleAdmin" class="icon-in-title" color="tertiary" name="person-add"
                          (click)="goToAddDeelnemer()"></ion-icon>
            </ion-card-title>
            <hr style="background-color: #25B973">
        </ion-card-header>
        <ng-container *ngIf="activePoule">
            <ion-card-content>
                <div>
                    <ng-container *ngFor="let deelnemer of activePoule.deelnemers">
                        <ion-item lines="full"
                                  [color]="deelnemer.id !== deelnemerId && deelnemer.deelnemerId !== deelnemerId ? 'tertiary' : 'primary'"
                                  (click)="deelnemer.showDetails = !deelnemer.showDetails">
                            <ion-avatar slot="start">
                                <ngx-avatar size="40" bgColor="#000" borderColor="#25B973" fgColor="#25B973"
                                            [value]="deelnemer.positie"></ngx-avatar>
                            </ion-avatar>
                            <ion-label text-wrap>
                                <!--todo keuze maken in kleuren-->
                                <ion-text [color]="deelnemer.id !== deelnemerId ? 'dark' : 'dark'">
                                    <ion-row>
                                        <ion-col [size]="9">
                                            <h3>{{deelnemer.display_name}}</h3>
                                        </ion-col>
                                        <ion-col text-right>
                                            {{deelnemer.totaalpunten}}
                                        </ion-col>
                                    </ion-row>
                                </ion-text>
                                <ion-text>
                                    <app-voorspelling-punten-item
                                            [deelnemer]="deelnemer"></app-voorspelling-punten-item>
                                </ion-text>
                            </ion-label>
                        </ion-item>
                        <app-voorspellingsscore *ngIf="deelnemer.showDetails" [headercolor]="'medium'"
                                                [voorspellingen]="deelnemer?.voorspellingen"></app-voorspellingsscore>

                        <ion-item-divider *ngIf="deelnemer.showDetails" color="secondary">
                        </ion-item-divider>
                    </ng-container>
                </div>
            </ion-card-content>
        </ng-container>
    </ion-card>

    <ion-card color="secondary" *ngIf="!activePoule">
        <ion-card-header>
            <ion-card-title>
                Begin je eigen poule!
            </ion-card-title>
            <hr style="background-color: #25B973">
        </ion-card-header>
        <ng-container>
            <ion-card-content>
                <ion-text>
                    Start een poule en ga de strijd aan met je familie en vrienden. <br>
                    Nadat je een poule gestart bent, kun je deelnemers uitnodigen door hun emailadressen toe te voegen.
                </ion-text>
                <ion-button (click)="goToAddPoule()" color="primary" expand="full">
                    Start een poule
                </ion-button>
            </ion-card-content>
        </ng-container>
    </ion-card>
</ion-content>
