<ion-header>
    <app-footer></app-footer>
    <ion-toolbar color="secondary">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col [size]="2" class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                    </ion-row>
                </ion-col>
                <ion-col class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                        <div class="eigen-avatar">{{countdown}}</div>
                    </ion-row>
                </ion-col>
                <ion-col [size]="2" class="ion-align-self-center">
                    <ion-row class="ion-justify-content-center">
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="isLoading" class="spinner">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <ion-grid *ngIf="showgeentestscherm && !isLoading">
        <ion-row align-items-center>
            <ion-card color='secondary'>
                <ion-card-content>
                    De eerste test verschijnt na aflevering 1.
                    Als je notificaties hebt ingeschakeld, dan krijg je een melding wanneer de test beschikbaar is.
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showeindeseizoenscherm && !isLoading">
        <ion-row align-items-center>
            <ion-card color='secondary'>
                <ion-card-content>
                    De laatste aflevering van wie is de mol is geweest. Er is geen test meer.
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showstartscherm && !isLoading">
        <ion-row align-items-center>
            <ion-card color='secondary'>
                <ion-card-header>
                    <ion-card-title class="ion-text-wrap">
                        Het is tijd voor de test
                    </ion-card-title>
                    <hr class="primary_line">
                </ion-card-header>
                <ion-card-content>
                    Beantwoord 5 vragen over de identiteit en het doen en laten van de Mol.
                    Zodra je op ‘start de test!’ klikt, gaat de timer lopen. Je hebt voor elke vraag 20 seconden om deze
                    te beantwoorden.<br>
                    Succes!
                </ion-card-content>
                <ion-button [disabled]="isLoading" color="primary" expand="full" (click)="nextSlide()">
                    Start de test!
                </ion-button>
            </ion-card>
        </ion-row>
    </ion-grid>

    <ion-card color='secondary' class="testscherm" *ngIf="showtestscherm && !isLoading">
        <ion-card-header class="vragen-header" class="ion-text-wrap">
            <h2 class="ion-text-wrap">
                {{question?.vraag}}
            </h2>
            <hr class="primary_line">
        </ion-card-header>
        <ion-card-content>
            <ion-button class="ion-text-wrap" [disabled]="isLoading" color="primary" expand="full"
                        *ngFor="let answer of question?.antwoorden; let i = index;"
                        (click)="selectAnswer(answer, question)">
                {{i+1}}. {{answer.antwoord}}
            </ion-button>

        </ion-card-content>
    </ion-card>

    <ion-grid *ngIf="showeindscherm && !isLoading">
        <ion-card color='secondary'>
            <ion-card-header class="ion-text-wrap">
                <ion-card-title>
                    Jouw antwoorden
                </ion-card-title>
                <hr class="primary_line">
            </ion-card-header>
            <ion-card-content *ngIf="testAntwoorden?.length > 0">
                <div class="bottom-padding" *ngIf="showDoneText">
                    Goed gedaan, je hebt de test afgerond. Hieronder zie je jouw antwoorden. Jouw antwoorden op de
                    vorige tests kun je terugkijken bij 'scores'.
                </div>
                <ion-item lines="full" color="primary">Aflevering {{aflevering}}</ion-item>
                <ion-item lines="full" color="tertiary" *ngFor="let testAntwoord of testAntwoorden; let i = index;">
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <div>
                                {{testAntwoord.vraag.vraag}}
                            </div>
                            <div>
                                {{testAntwoord.antwoord?.antwoord ? testAntwoord.antwoord.antwoord : 'geen antwoord'}}
                            </div>
                        </ion-text>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
