<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col class="ion-align-self-center" (click)="goToScores()">
            <ng-container *ngIf="(authService.user$ | async) && deelnemerPunten > -1">
                <h1 class="ion-text-center">
                    {{deelnemerPunten}}
                </h1>
                <h3 class="subtitle ion-text-center">
                    punten
                </h3>
            </ng-container>
        </ion-col>
        <ion-col class="justify-content-center">
                <ion-avatar *ngIf="mol" (click)="goToVoorspelling()">
                    <img [ngClass]="{'mol_is_niet_afgevallen': !mol?.afgevallen, 'mol_is_afgevallen' : mol?.afgevallen}"
                         [src]="mol?.image_url">
                </ion-avatar>
            <img class="icon_avatar" *ngIf="!mol"
                 src="/assets/logo.png">
        </ion-col>
        <ion-col class="ion-align-self-center" (click)="goToStatistieken()">
            <ng-container *ngIf="molPercentage">
                <h1 class="ion-text-center">
                    {{molPercentage}}%
                </h1>
                <h3 class="subtitle ion-text-center">
                    verdacht
                </h3>
            </ng-container>
        </ion-col>
    </ion-row>
</ion-grid>
