:host {
  ion-avatar {
    height: 100%;
    width: 100%;
  }
  .subtitle {
    margin-top: -12px;
  }
  .mol_is_niet_afgevallen {
    border: 2px solid #25B973;
  }

  .mol_is_afgevallen {
    border: 2px solid #d33939;
  }
  .header-avatar {
    width: 109px;
    height: 109px;
  }
}