:host {
  ion-avatar {
    height: 100%;
    width: 100%;
  }
  .subtitle {
    margin-top: -12px;
  }
  .is_mol_in_spel {
    border: 2px solid #25B973;
  }
  .header-avatar {
    width: 109px;
    height: 109px;
  }
}