<ng-container *ngIf="huidigeVoorspelling.aflevering">
    <ion-header>
        <app-footer></app-footer>
        <ion-toolbar color="dark">
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-row class="ion-justify-content-center">
                            <ion-button fill="clear" [disabled]="isBusy || deadlineVerstreken"
                                        *ngIf="activeIndex > 0 && selectKandidaat"
                                        (click)="activateKandidaat(activeIndex - 1)">
                                <ion-icon color="tertiary" slot="icon-only" class="large-icon"
                                          name="arrow-back"></ion-icon>
                            </ion-button>
                        </ion-row>
                    </ion-col>
                    <ion-col class="justify-content-center">
                        <ion-avatar class="header-avatar-img" (click)="saveKandidaat(voorspellingsType)"
                                    *ngIf="activeKandidaat && selectKandidaat">
                            <img [src]="activeKandidaat?.image_url">
                        </ion-avatar>
                        <ion-avatar class="header-icon-avatar" *ngIf="activeKandidaat && !selectKandidaat">
                            <ion-icon class="header-avatar" name="person"></ion-icon>
                        </ion-avatar>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                        <ion-row class="ion-justify-content-center">
                            <ion-button fill="clear" [disabled]="isBusy || deadlineVerstreken"
                                        *ngIf="activeIndex + 1 < numberOfKandidaten && selectKandidaat"
                                        (click)="activateKandidaat(activeIndex + 1)">
                                <ion-icon color="tertiary" slot="icon-only" class="large-icon"
                                          name="arrow-forward"></ion-icon>
                            </ion-button>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card color="secondary">
            <ion-card-header>
                <ion-card-title>
                    Jouw voorspellingen
                </ion-card-title>
                <hr class="primary_line">
            </ion-card-header>
            <ion-card-content>
                <div>
                    <ion-text *ngIf="!(uiService.voorspellingAfgerond$ | async)">Je voorspelling voor aflevering
                        {{huidigeVoorspelling.aflevering}} is nog niet
                        opgeslagen
                    </ion-text>
                    <div class="button-container">
                        <ion-item lines="full" color="primary">
                            <ion-text class="ion-text-wrap">
                                Aflevering {{huidigeVoorspelling.aflevering}}
                            </ion-text>
                        </ion-item>
                        <ion-item lines="full" color="tertiary" *ngFor="let voorspelling of voorspellingsLijst">
                            <ion-avatar *ngIf="voorspelling.kandidaat && !voorspelling.selected" slot="start"
                                        class="item-avatar">
                                <img [src]="voorspelling?.kandidaat.image_url">
                            </ion-avatar>
                            <ion-avatar *ngIf="!voorspelling.kandidaat && !voorspelling.selected" slot="start"
                                        class="item-avatar">
                                <ion-icon class="icon-avatar" name="person"></ion-icon>
                            </ion-avatar>
                            <ion-avatar *ngIf="voorspelling.selected" slot="start"
                                        class="item-avatar">
                                <img [src]="activeKandidaat?.image_url">
                            </ion-avatar>
                            <ion-label class="ion-text-wrap">
                                <ion-text color="secondary"
                                          [ngClass]="{'afgevallen': voorspelling.kandidaat.afgevallen}"
                                          *ngIf="!voorspelling.selected && voorspelling.kandidaat">
                                    <h3>{{voorspelling.type | titlecase}}</h3>
                                    <h3>{{voorspelling.kandidaat?.display_name}}</h3>
                                </ion-text>
                                <ion-text color="secondary"
                                          *ngIf="!voorspelling.selected && !voorspelling.kandidaat">
                                    <h3>{{voorspelling.type | titlecase}}</h3>
                                    <ion-skeleton-text></ion-skeleton-text>
                                    <ion-skeleton-text></ion-skeleton-text>
                                </ion-text>
                                <ion-text color="secondary"
                                          *ngIf="voorspelling.selected">
                                    <h3>{{voorspelling.type | titlecase}}</h3>
                                    <h3>{{activeKandidaat?.display_name}}</h3>
                                </ion-text>
                            </ion-label>
                            <ion-button class="ion-no-padding" fill="clear"
                                        [disabled]="isBusy || deadlineVerstreken || selectKandidaat"
                                        *ngIf="!voorspelling.selected"
                                        (click)="editKandidaat(voorspelling.type)" size="small">
                                <ion-icon color="secondary" slot="icon-only" name="md-create"></ion-icon>
                            </ion-button>
                            <ion-button class="ion-no-padding" fill="clear" [disabled]="isBusy || deadlineVerstreken"
                                        *ngIf="voorspelling.selected"
                                        (click)="cancelEditKandidaat(voorspelling.type)" size="small">
                                <ion-icon color="secondary" slot="icon-only" name="undo"></ion-icon>
                            </ion-button>
                            <ion-button class="ion-no-padding" fill="clear" [disabled]="isBusy || deadlineVerstreken"
                                        *ngIf="voorspelling.selected"
                                        (click)="saveKandidaat(voorspelling.type)" size="small">
                                <ion-icon color="secondary" slot="icon-only" name="ios-save"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </div>
                </div>
                <ion-button [disabled]="isBusy || deadlineVerstreken" color="primary" expand="full"
                            (click)="submitVoorspellingen(true, null)">
                    Opslaan
                </ion-button>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ng-container>
