@import '../../theme/variables';

:host {
  .header-avatar-img {
    height: 109px;
    width: 109px;
  }

  .header-avatar {
    max-width: calc(100vw / 4);
    max-height: calc(100vw / 4);
    min-height: 109px;
    min-width: 109px;
  }

  ion-avatar.header-icon-avatar {
    max-width: calc(100vw / 4);
    max-height: calc(100vw / 4);
    min-height: 109px;
    min-width: 109px;
    display: grid;
    justify-content: center;
  }
  .subtitle {
    margin-top: -12px;
  }

  ion-card {
    margin-top: 0;
    min-height: calc(100vh - 128px - 44px - 30px - #{$safe-area-inset-top} - #{$safe-area-inset-bottom});
  }

  ion-card-content {
    display: grid;
    align-content: space-between;
    min-height: calc(100vh - 128px - 44px - 30px - 84px - #{$safe-area-inset-top} - #{$safe-area-inset-bottom});
  }

  ion-icon.large-icon {
    font-size: 36px;
  }

  .icon-avatar,
  .item-avatar {
    width: 60px;
    height: 60px;
  }

  .afgevallen > h3 {
    text-decoration: line-through;
    color: indianred;
  }
}