<ion-header>
    <app-footer></app-footer>
    <ion-toolbar color="secondary">
        <app-personal-header></app-personal-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card color="secondary">
        <ion-card-header>
            <ion-segment mode="md" (ionChange)="segmentChanged($event)">
                <ion-segment-button mode="md" value="voorspellingen" [checked]="activeSegment === 'voorspellingen'">
                    Voorspellingen
                </ion-segment-button>
                <ion-segment-button mode="md" value="tests" [checked]="activeSegment === 'tests'">
                    Tests
                </ion-segment-button>
            </ion-segment>
            <hr class="primary_line">
        </ion-card-header>
        <ion-card-content>
            <div *ngIf="activeSegment === 'voorspellingen'">
                <ng-container *ngIf="voorspellingen?.length === 0">
                    <ion-item lines="full" color="primary">
                        Voorspellingen
                    </ion-item>
                    <ion-item lines="full" color="tertiary">
                        <ion-label class="ion-text-wrap">
                            <ion-text>Er zijn nog geen punten bekend voor je voorspellingen</ion-text>
                        </ion-label>
                    </ion-item>
                </ng-container>
                <app-voorspellingsscore [voorspellingen]="voorspellingen"></app-voorspellingsscore>
            </div>
            <div *ngIf="activeSegment === 'tests'">
                <ng-container *ngIf="testAfleveringen?.length === 0">
                    <ion-item lines="full" color="primary">
                        Testuitslagen
                    </ion-item>
                    <ion-item lines="full" color="tertiary">
                        <ion-label class="ion-text-wrap">
                            <ion-text>Er zijn nog geen punten bekend voor je test</ion-text>
                        </ion-label>
                    </ion-item>
                </ng-container>
                <ng-container *ngFor="let aflevering of testAfleveringen">
                    <div *ngIf="aflevering">
                        <ion-item color="primary">
                            Test aflevering {{aflevering[0]?.aflevering}}
                        </ion-item>
                        <ion-item lines="full" lines="full" color="tertiary" *ngFor="let test of aflevering"
                                  [ngClass]="{'afgevallen': kandidaat?.afgevallen}">
                            <ion-label class="ion-text-wrap">
                                <ion-text>
                                    <h3>{{test?.vraag?.vraag}}</h3>
                                    <ion-text>
                                        <p class="subtitle" *ngIf="test?.antwoord?.antwoord">
                                            {{test?.antwoord?.antwoord}}</p>
                                        <p class="subtitle" *ngIf="!test?.antwoord?.antwoord">Geen antwoord</p>
                                    </ion-text>
                                </ion-text>
                            </ion-label>
                            <ion-avatar slot="start">
                                <avatar size="40" background="#000" [letter]="test?.punten"
                                        [displayType]="'circle'"></avatar>
                            </ion-avatar>
                        </ion-item>
                    </div>
                </ng-container>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
