<div *ngIf="(uiService.isLoading$ | async)" class="spinner">
    <ion-spinner name="bubbles"></ion-spinner>
</div>
<ion-content class="grid-full" *ngIf="(authService.user$ | async) && !(uiService.isLoading$ | async)">
    <ion-row>
        <ion-col class="cell-1 full">
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-subtitle>
                        De Molloot 2019
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    {{cardText}}
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="cell-2">
            <ion-card color="dark" href="#" (click)="goToTest()" tappable>
                <ion-card-header>
                    <ion-card-subtitle>
                        Test
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon [color]="(uiService.testAfgerond$ | async) ? 'light' : 'tertiary'" name="clock" style="font-size: 48px;"></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="cell-3">
            <ion-card color="dark" href="#" (click)="goToPoules()" tappable>
                <ion-card-header>
                    <ion-card-subtitle>
                        Poules
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="podium" style="font-size: 48px;" (click)="goToPoules()"></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="cell-4">
            <ion-card color="dark" href="#" (click)="goToVoorspellen()" tappable>
                <ion-card-header>
                    <ion-card-subtitle>
                        Voorspellen
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                        <ion-icon [color]="(uiService.voorspellingAfgerond$ | async) ? 'light' : 'tertiary'" name="finger-print" style="font-size: 48px;"></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="cell-5">
            <ion-card color="dark" href="#" (click)="goToDisclaimer()" tappable>
                <ion-card-header>
                    <ion-card-subtitle>
                        Disclaimer
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="information-circle-outline" style="font-size: 48px;"></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
<ion-content class="grid-full" *ngIf="!(authService.user$ | async) && !(uiService.isLoading$ | async)">
    <ion-row>
        <ion-col class="cell-1 full">
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-subtitle>
                        De Molloot 2019
                    </ion-card-subtitle>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    Voor de molloot 2019 is een nieuw account nodig, maak deze hieronder aan. Al een account aangemaakt,
                    log dan meteen in.
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="cell-2 full">
            <app-login></app-login>
        </ion-col>
    </ion-row>
</ion-content>