<ion-content color="light" padding *ngIf="(authService.user$ | async)">
    <ion-slides pager [options]="slideOpts">
        <ion-slide>
           <app-poules></app-poules>
        </ion-slide>
        <ion-slide>
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-title>Test</ion-card-title>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
                    Samenvatting van de vorige tests
                    <ion-item color="medium" href="#" class="activated">
                        <ion-icon name="clock" slot="start"></ion-icon>
                        <ion-label>Doe de test</ion-label>
                    </ion-item>
                    <ion-item color="medium" href="#" class="activated">
                        <ion-icon name="clock" slot="start"></ion-icon>
                        <ion-label>Bekijk vorige tests</ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-title>Voorspel</ion-card-title>
                    <hr style="background-color: #25B973">
                </ion-card-header>
                <ion-card-content>
      <span *ngIf="!voorspellingBekend">
      Er is nog geen voorspelling bekend voor aflevering 4
      </span>
                    <span *ngIf="voorspellingBekend">
      Je kan je voorspelling voor aflevering 4 nog wijzigen tot zondag 20:45
      </span>
                    <ion-item color="medium" (click)="voorspellingBekend = !voorspellingBekend">
                        <ion-icon name="finger-print" slot="start"></ion-icon>
                        <ion-label>Kies je mol</ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-grid *ngIf="false">
        <ion-row>
            <ion-col [size]="12">
                <ion-button size="large" expand="block" fill="outline" color="secondary" (click)="goToPoules()">
                    <ion-icon slot="start" name="logo-buffer"></ion-icon>
                    De vriendenpoule
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [size]="12">
                <ion-button size="large" expand="block" fill="outline" color="secondary">
                    <ion-icon slot="start" name="clock"></ion-icon>
                    Test
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [size]="12">
                <ion-button size="large" expand="block" fill="outline" color="secondary">
                    <ion-icon slot="start" name="finger-print"></ion-icon>
                    Voorspelling
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="true">
            <ion-col [size]="12">
                <ion-chip color="secondary">
                    <ion-avatar>
                        <img src="https://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_jan.jpg">
                    </ion-avatar>
                    <ion-label>Is mijn mol</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>