.grid-full ion-row {
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
}

.full {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  text-align: center;
  padding: 10px 5px;
}

.grid-full ion-col {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  padding: 10px 5px;
}

ion-card {
  height: 100%;
  margin: 0;
}
//
//.cell-1 {
//  background-color: #C5DCFC;
//}
//.cell-2 {
//  background-color: #262B69;
//}
//.cell-3 {
//  background-color: #A0C5FA;
//}
//.cell-4 {
//  background-color: #B3D0FC;
//}
//.cell-5 {
//  background-color: #73A7F9;
//}
//.cell-6 {
//  background-color: #8CB9FA;
//}

.large-icon {
  font-size: 36px;
}