<ion-header>
    <ion-toolbar color="dark">
        <ion-title *ngIf="(deelnemer$ | async) as deelnemer">{{deelnemer.display_name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="!(authService.user$ | async)" (click)="goToLogin()">
                <ion-icon name="log-in"></ion-icon>
            </ion-button>
            <ion-button *ngIf="(authService.user$ | async)" (click)="authService.logout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <app-personal-header></app-personal-header>
</ion-header>
<ion-content>
    <app-dashboard></app-dashboard>
</ion-content>
<!--<ion-tabs color="dark" *ngIf="router.url !== '/home/dashboard'">-->
    <!--<ion-tab (ionSelect)="goToDashboard()" label="Dashboard" icon="home"></ion-tab>-->
    <!--<ion-tab label="Poules" icon="logo-buffer"></ion-tab>-->
    <!--<ion-tab label="Mijn mol" icon="finger-print"></ion-tab>-->
    <!--<ion-tab label="Test" icon="clock"></ion-tab>-->
<!--</ion-tabs>-->
